 <nav role="navigation" class="mt-4">
    <ul aria-label="Pagination" class="pagination pagination-lg pagination--large-arrows">
      <li class="page-item pagination__previous"><a href="#" class="page-link" id="previous">Previous</a></li>
      <li class="page-item pagination__next"><a href="#" class="page-link" id="next">Next</a></li>
    </ul>
  </nav>
