<div class="btn-group" role="toolbar" aria-label="Multipage control toolbar">
  <button type="button" class="btn btn-secondary action action--multipage-disable-paging js-multipage-disable-paging" href="#" paging="" title="Disable">View on one page</button>
  <button type="button" class="btn btn-secondary action action--multipage-enable-paging js-multipage-enable-paging hidden" href="#" paging="" title="Enable">View in sections</button>
  <button type="button" class="btn btn-secondary action--multipage-print" onclick="javascript:window.print();">Print this page</button>
</div>
